[Unit]
Description=Celery Service for RydeSaathi
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/rydesaathi/server
Environment="PATH=/home/ubuntu/rydesaathi/server/venv/bin:/usr/bin"
ExecStart=/home/ubuntu/rydesaathi/server/venv/bin/celery -A config worker -l info
Restart=always

[Install]
WantedBy=multi-user.target
