[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
geopy = "*"
celery = "*"
razorpay = "*"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
python-decouple = "*"
pillow = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
haversine = "*"
django-otp = "*"
pyotp = "*"

[dev-packages]

[requires]
python_version = "3.13"
